// color of project

//brand colors

$Violet: hsl(257, 40%, 49%);
$SoftMagenta: hsl(300, 69%, 71%);

// neutral-colors






$white-normal: hsl(36, 100%, 99%);



//auxiliary colors
$blue-light:  hsl(233, 8%, 79%);
$blue-normal:  hsl(236, 13%, 42%);
$blue-dark:  hsl(240, 100%, 5%);

